#about{
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    position: relative;
    padding: 2rem;
    background: url('/src/images/cyber-bg2.jpg') no-repeat top  ;
    background-size: cover;
    height: 100vh;

    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background: rgba(0, 0, 0, 0.8)
    }
        
        
}

#about h2{
    font-size: 2em;
    margin-top: 2rem;
    font-family: var(--exo);
    color: var(--title);
    text-shadow: 0 0 3px var(--title), 0 0 6px var(--title-shadow);
    z-index: 10;

}


#about  i{
    font-style: italic;
    font-family: var(--neuropol);
    color: var(--title);
    text-shadow: 0 0 1px var(--title-shadow), 0 0 3px var(--title-shadow);
    font-size: 1.2em;
    margin: 1rem auto;
    z-index: 10;
}

#about #aboutme-text{
    width: 50%;
    padding: 3rem 4rem;
    border-radius: 3rem;
    overflow: visible;
    z-index: 10;
}

#about #aboutme-text p{
    text-align: justify;
    color: var(--text-color-2);
    position: relative;
    font-family: var(--oxanium);
}


#about #aboutme-text p mark{
    color: var(--name-emphasis);
    text-shadow: 0 0 1px var(--name-emphasis), 0 0 2px var(--name-emphasis);
    background-color: transparent;
}

#about #aboutme-text p #dev{
    color: var(--role-emphasis);
    text-shadow: 0 0 1px var(--role-emphasis), 0 0 2px var(--role-emphasis);
}

#about #aboutme-text p #html{
    color: var(--html-color);
    text-shadow: 0 0 1px var(--html-color), 0 0 2px var(--html-color);
}

#about #aboutme-text p #css{
    color: var(--css-color);
    text-shadow: 0 0 1px var(--css-color), 0 0 2px var(--css-color);
}

#about #aboutme-text p #js{
    color: var(--js-color);
    text-shadow: 0 0 1px var(--js-color), 0 0 2px var(--js-color);
}

#about #aboutme-text p #english{
    color: var(--english-color);
    text-shadow: 0 0 1px var(--english-color), 0 0 2px var(--english-color);
}

#about #aboutme-text p #mandarin{
    color: var(--mandarin-color);
    text-shadow: 0 0 1px var(--mandarin-color), 0 0 2px var(--mandarin-color);
}


#about #aboutme-text p .soft-skills{
    color: var(--title-shadow);
    text-shadow: 0 0 1px var(--title-shadow), 0 0 2px var(--title-shadow);
}
