@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-outfit: var(--font-outfit);
  --font-space-grotesk: var(--font-space-grotesk);
  --font-syne-mono: var(--font-syne-mono);
  --font-exo-2: var(--font-exo-2);
  --font-rajdhani: var(--font-rajdhani);
  --font-asimovian: var(--font-asimovian);
  --font-audiowide: var(--font-audiowide);
  --font-zen-dots: var(--font-zen-dots);
  --font-vt323: var(--font-vt323);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Custom Scrollbar para elementos com a classe .custom-scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px; /* Deixa a barra bem fininha */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #060913; /* Cor de fundo idêntica à do container */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #1e293b; /* Cor do "pino" de rolagem (slate-800) */
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #06b6d4; /* O pino acende em ciano no hover */
}

@theme inline {
  --animate-gradient: gradient 8s linear infinite;

  @keyframes gradient {
    to {
      background-position: var(--bg-size, 300%) 0;
    }
  }
}
