@font-face {
    font-family: 'cyber';
    src: url('/src/fonts/cyberway_riders/Cyberway Riders.otf');
}

@font-face {
    font-family: 'neuropol';
    src: url('/src/fonts/neuropol/Neuropol.otf');
}

:root{
    /* Colors */
    --bg-color-1 : #110f1a;
    --bg-color-2 : #1e1e30;

    --logo1: #FF00FF;
    --logo2: #00FFFF;
    --logo3: #0600ab;
    
    --title: #ffcc00;
    --title-shadow: #00cfc1;

    --title2: #6c00e0;
    --scroll: #3f37c9;

    --text-color-1: #e3e6ef;
    --text-color-2: #bacfdd;
    
    --name-emphasis: var(--logo1);
    --role-emphasis: var(--logo2);

    --english-color: #0077b6;
    --mandarin-color: #d00000;
    
    --html-color: #e34c26;
    --css-color: #264de4;
    --js-color: #F7DF1E;
    --node-color: #339933;
    --react-color: #61DAFB;
    

    /* Fonts */
    --cyber: 'cyber', sans-serif;
    --neuropol: 'neuropol', sans-serif;
    --orbitron: "Orbitron", sans-serif;
    --audiowide: "Audiowide", sans-serif;
    --rajdhani: "Rajdhani", sans-serif;
    --oxanium: "Oxanium", sans-serif;
    --space: "Space Mono", monospace;
    --tech: "Share Tech Mono", monospace;
    --exo: "Exo", sans-serif;
    --vt: "VT323", monospace;
    
}

body{
    background: var(--bg-color-1);
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

/* make main occupy all height availible between header and footer */
main{

    width: 100vw;
    overflow: hidden;
    box-sizing: border-box;

}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}



