
#projects{
    font-size: 2.4rem;
    text-align: center;
}

#projects h2{
    font-size: 2em;
    margin-bottom: 2.5rem;
    color: var(--title);
    text-shadow: 0 0 3px var(--title), 0 0 8px var(--title-shadow);
    font-family: var(--orbitron);
}

#projects #container-projects{
    width: 90%;
    height: 350px;
    padding: 2rem;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 1rem;


    &::-webkit-scrollbar{
        width: 10px;
    }

    &::-webkit-scrollbar-track{
        background: rgba(255, 255, 255, 0.1);
    }

    &::-webkit-scrollbar-thumb{
        background: var(--scroll);
        border-radius: 1rem;
    }
    

}

#projects #slider-projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 6rem;
    padding: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    height: fit-content;
    transition: all ease-in-out 500ms;
}

#projects .project{
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

}

#projects .project .project-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    height: 8rem;
}

#projects .project .project-header .project-title{
    font-size: 1.2em;
    color: var(--text-color-1);
    font-family: var(--space);
}

#projects .project .project-header .project-tags{
    display: flex;
    flex: 0, 0, 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    max-width: 90%;
    margin: 0 auto;
}

#projects .project .project-header .project-tags span{
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.4em;
    font-family: var(--exo);
    font-weight: 700;
    text-transform: uppercase;
    background-color: bisque; /* just a background color default */
    color: rgba(0, 0, 0);
}

#projects .project .project-header .project-tags .html-tag{
    background-color: var(--html-color);
}

#projects .project .project-header .project-tags .css-tag{
    background-color: var(--css-color);
}

#projects .project .project-header .project-tags .javascript-tag{
    background-color: var(--js-color);
}

#projects .project .project-header .project-tags .react-tag{
    background-color: var(--react-color);
}

#projects .project .project-header .project-tags .node-tag{
    background-color: var(--node-color);
}


#projects .project .project-main{
    height: 180px;
    padding: 1rem;
    width: auto;
}

#projects .project .project-main .project-image{
    width: 100%;
    height: 100%;
}

#projects .project .project-main .project-image img{
    width: 100%;
    height: 100%;
    object-fit:contain;

}

/* #projects .project .project-main .project-description{
    font-size: 0.8em;
    color: aliceblue;
    text-align: justify;
} */

#projects .project .project-links{
    display: flex;
    gap: 1rem;
    font-size: 0.5em;
    align-items: center;
    justify-content: center;
    position: static;
    border-radius: 0 0 0.5rem 0.5rem;
    color: var(--text-color-2);
    margin: 0;
}

#projects .project .project-links a{
    color: var(--text-color-2);
    font-family: var(--oxanium);
    padding: 1rem;
    border-radius: 0.5rem;
    transition: all ease-in-out 500ms;
    outline: none;
    border: 2px solid transparent;
    
    &:hover, &:focus{
        color: var(--scroll);
        border: 2px solid var(--scroll);
        text-shadow: 0px 0px 5px var(--scroll);
        box-shadow: 0px 0px 10px var(--scroll);
    }
}


#projects #coming-soon{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    transition: all 300ms ease-in-out;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#projects #coming-soon .project-main{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 3rem;
    height: auto;
}

#projects #coming-soon .project-main .project-image{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#projects #coming-soon .project-main .project-image>img{
    filter: blur(5px) brightness( 0.5);
}

#projects #coming-soon .project-main .project-image div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects #coming-soon .project-main .project-image div img{
    width: 8rem;
    height: 8rem;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

#projects #coming-soon .project-main .project-description{
    font-size: 1.4rem;
    color: var(--text-color-2);
    font-family: var(--oxanium);
    text-align: center;
}
